@import "../../sass/main.scss";
.skills {
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid blue;
    .skills__box {
      padding: 3rem;
      @include respond(tab-port) {
        padding: 0;
      }
      font-size: 2rem;
      // border: 1px solid red;
      .skill__data {
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: 1.5rem;
        position: relative;
        border-radius: 0.5rem;
        @include defaultShadowDark;
      }
      .skill__bar {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $color-primary;
        height: 0.5rem;
        width: 70%;
        border-radius: 0.5rem;
        font-size: 4rem;
        z-index: -1;
      }

      span {
        font-size: 1.8rem;
        font-weight: 600;
      }

      .skill__1 {
        width: 85%;
      }

      .skill__2 {
        width: 75%;
      }

      .skill__3 {
        width: 65%;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    // border: 1px solid blue;
    img {
      width: 100%;
      border-radius: 5px;
      @include defaultShadow;
      @include respond(tab-port) {
        margin-top: 4rem;
      }
    }
  }
}
