@import "../../sass/main.scss";
.project__card {
  width: 35rem;
  @include respond(tab-port) {
    width: 90%;
  }
  margin-top: 2rem;
  // border: 1px solid red;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s;
  text-align: center;
  // &:hover {
  //   cursor: pointer;
  //   @include defaultShadowDark;
  // }

  .img__box {
    img {
      width: 100%;
    }
  }
  .project__details {
    // border: 1px solid red;
    padding: 1rem;
    h2 {
      font-size: 2rem;
    }
    .stack {
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 0.5rem;
      color: white;
      border-radius: 5px;
      background-color: $color-black;
      margin-top: 1rem;
    }
    .action {
      .link__box {
        width: 100%;
        color: white;
        background-color: #0e2431;
        padding: 1rem;
        border-radius: 5px;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          @include defaultShadowDark;
        }
        a {
          font-size: 1.5rem;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  @include defaultShadow;
}
