@import "../../sass/main.scss";
.about {
  // border: 1px solid red;
  &__left {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    @include respond(tab-port) {
      width: 100%;
    }
    // border: 1px solid blue;
    img {
      width: 30rem;
      @include defaultShadow;
      border-radius: 5px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    @include respond(tab-port) {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
    }
    // border: 1px solid black;
    .para_heading {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
